{
  "extends": "plugin:bpmn-io/browser",
  "env": {
    "browser": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "globals": {
    "assert": true,
    "expect": true
  },
  "rules": {
    "no-fallthrough": "off"
  }
}